<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="GestioneClienti.WCFService.ClienteService">
                <endpoint address="http://localhost:9898" binding="basicHttpBinding"
                    bindingConfiguration="" contract="GestioneClienti.WCFService.IClienteService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9898" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>